# Interactive Geospatial Guide

Purpose: Create interactive, geospatial visualizations with minimal python knowledge and packages.

# 1. Install Packages

If you're working on Anaconda, you'll only need to install geopandas.

In [ ]:
## Anaconda installs

# Installs geopandas
!conda install geopandas

# Updates all other packages
!conda update --all

If you're not working on Anaconda, you'll likely need a few more packages.

In [ ]:
## Anaconda installs

# Installs geopandas
!pip install geopandas
!pip install bokeh
!pip install pandas
!pip install matplotlib


# Updates all other packages
!conda update --all

# 2. Loading Data & Packages

Packages: pandas, matplotlib, geopandas, json, bokeh

Data: County-level statistics for the DC, Maryland, and Virginia Area.

In [4]:
## Package imports

# For handling data generally
import pandas as pd

# Base plotting package
import matplotlib.pyplot as plt
%matplotlib inline

# For importing shapefiles
import geopandas as gpd

# For converting dataframes to json files
import json

# For visualizing geospatial data
import bokeh

All data used in this guide can be obtained via public sources.

In [34]:
## Data imports

# Read in the federal data
data = pd.read_csv("data/federal_data.csv", index_col = 0)
data.head()

,GEOID,year,units,units_sf,units_2_4,units_mf,name,state,land_area,inequality_index,...,private_hospitals,non_profit_hospitals,tribal_hospitals,exp_homelessness,votes_dem_percent,votes_rep_percent,votes_green_percent,votes_lib_percent,votes_other_percent,rural_level
9315,11001,1990,368,180,180,162,Washington,DC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9316,11001,1991,333,83,83,236,Washington,DC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9317,11001,1992,132,92,92,26,Washington,DC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9318,11001,1993,305,99,142,163,Washington,DC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9319,11001,1994,210,96,96,114,Washington,DC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

These data contain a variety of features extracted from a range of US federal agencies. A codebook for the features can be found in the data zipfile. For this tutorial, we will be using the Census's inequality index.

In [35]:
# Subset data to only GEOID, year, and inequality index and save as a new dataset
df = data[["GEOID", "year", "inequality_index"]]

In [36]:
# Remove rows missing inequality index
df = df.loc[~df["inequality_index"].isna()]

Now we'll import the county shapefiles!

In [8]:
# Read in the corresponding spatial data
counties_usa = gpd.read_file('data/shapefiles/census_counties.shp')
counties_usa.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053..."
1,21,017,00516855,0500000US21017,21017,Bourbon,06,750439351,4829777,"POLYGON ((-84.44266 38.28324, -84.44114 38.283..."
2,21,031,00516862,0500000US21031,21031,Butler,06,1103571974,13943044,"POLYGON ((-86.94486 37.07341, -86.94346 37.074..."
3,21,065,00516879,0500000US21065,21065,Estill,06,655509930,6516335,"POLYGON ((-84.12662 37.64540, -84.12483 37.646..."
4,21,069,00516881,0500000US21069,21069,Fleming,06,902727151,7182793,"POLYGON ((-83.98428 38.44549, -83.98246 38.450..."

We're only working with DC, Maryland, and Virginia here, so we'll subset to States with FIPS 11, 24, and 51.

In [12]:
# Subset the shapefiles to DC, Maryland, and Virginia
counties_usa = counties_usa.loc[counties_usa["STATEFP"].isin(["11", "24", "51"])]

Now, we'll subset the columns to only GEOID and geometry.

In [13]:
# Subset to GEOID and geometry
counties_usa = counties_usa[["GEOID", "geometry"]]

In [32]:
# Convert GEOID to integers
counties_usa["GEOID"] = counties_usa["GEOID"].astype(int)

Finally, we'll merge the county shapes to the federal data.

In [37]:
# Merge in shapefiles
df = df.merge(counties_usa)
df.head()

,GEOID,year,inequality_index,geometry
0,11001,2010,0.5350,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."
1,11001,2011,0.5326,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."
2,11001,2012,0.5315,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."
3,11001,2013,0.5303,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."
4,11001,2014,0.5295,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."

# 2. Basic Visualization

Goal: Create and fine-tune a simple Bokeh visualization.

## A. Points

## B. Shapes

In [ ]:
# Create figure object.
p = figure(title = '', 
#            plot_height = 600 ,
#            plot_width = 950, 
#            toolbar_location = 'below',
           tools = "pan, wheel_zoom, box_zoom, reset, save")

p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None

# Add patch renderer to figure.
states = p.patches('xs','ys', source = df_geo,
#                    fill_color = None,
#                    line_color = ‘gray’, 
#                    line_width = 0.25, 
#                    fill_alpha = 1
                  )

# 3. Additional Tools

Goal: Explore other interactive tools in Bokah.

## A. Select

## B. Hover

## C. Range

## D. Draw

# 4. Saving & Sharing

Goal: Storing and presenting interactive visualizations.

## A. Plots

## B. Documents

## C. Bokeh Server Apps